doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PaperCuts
    link(rel="shortcut icon", href="/static/images/favicon.png")
    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/style.css")
  body  
    .container
      h1.text-center.my-5 welcome in PaperCuts API
      code baseUrl https://papercuts/
      h2.my-5#services-api 
        a.text-decoration-none.me-2(href="#services-api") #
        | services API
      .container
        .table-responsive
          table.table.align-middle.text-center 
            thead
              tr 
                th(scope="col") url
                th(scope="col") method
                th(scope="col") need authorize
                th(scope="col") formData
                th(scope="col") response
                th(scope="col") example
            tbody
              tr 
                td 
                  code /api/services
                td 
                  code Get
                td 
                  code No
                td 
                  code --
                td 
                  span 
                    code Array Of Object
                td.text-start 
                  code
                    pre. 
                      [
                        ...
                        {
                          "_id": 1,
                          "title": "",
                          "info": "",
                          "img": ""
                        }
                        ...
                      ]
